<style>
	h1 {
	--	background-color: grey;
		color: yellow
		border: 3px solid grey

	}
	p {
		background-color: grey;
		color: white
		border: 3px solid grey

	}
</style>
<h1> Chapter 7 List: Part 1</h1>

<p style="margin-left:40px"> 7.1 Basic Examples of List</p>

<p style="margin-left:40px"> 7.2 Understanding the "Mutable Data Type" </p>

<p style="margin-left:40px"> 7.3 Handing the list index out of range error </p>

<p style="margin-left:40px"> 7.4 List of List </p>

<p style="margin-left:40px"> 7.5 any() and all() </p>

***

## <p style="background-color: grey; color: white "> ◼️  List </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 1. Basic Examples of List</p>

<style>
	h3{
		background-color: grey
		color: white
	}
</style>

<h1> Understanding the "Mutable Data Type"  </h1>

- Run all the following code cells and check out the result of code segments

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.0 </p>

#### Run all the cells and figure out the Mutal Data Type

### What is the value of numbers1 after run the following code cell?

In [1]:
numbers1 = [1,2,3,4,5,6,7]
numbers2 = numbers1

del numbers2[:5]

numbers1

[6, 7]

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.1 </p>

#### Figure out the difference between the following two code segments

#### The first code segment:
- the number is integer value in the function.
- The value of the number is changed by the function
- Check the value in the caller function main()
- The change of the value of the number is not reflected in the caller function

#### The second code segment:
- The list is a mutable data type
- The value of the list is changed by the function
- Check the value in the caller function main()
- The change of the value of the list is reflected in the caller function

## Explain the output of the following code segments. <br> Elaborate the reason why the output is as such.

In [4]:
def myfuntion(number):
    number = 100

number = -1 #This number is being appended to negative 1 instead of 100
myfuntion(number)
print ('number in main():', number)
# number in main(): -1. Change of the value of the number is not reflected in the caller function

number in main(): -1

In [8]:
def myfunction(numbers):
    numbers[0] = 100

numbers = [-1] #the list recognizes this as an array element, calling the element inside, which is 100
myfunction(numbers)
print ('numbers in main():', numbers)
# numbers in main(): [100]. Change of the value of the list is reflected in the caller function

numbers in main(): [100]

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.2 </p>

#### List the other data types that are working as the same way as the list in the above code segments.
### Choose the data types from the following list:
- String
- Tuple
- Dictionary ✅
- Set ✅

- int
- float
- boolean

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #1.3 </p>

#### Review the following methods of the list data type.
- append()
- extend()
- insert()
- remove()
- sort()
- reverse()
- pop()
- count()
- index()
- copy()
- clear()

## Concatenation of the List
```
n1 = [1,2,3]
n2 = [4,5,6]
```

### complete your code here to concatenate the two lists

In [9]:
n1 = [1,2,3]
n2 = [4,5,6]
n3 = n1 + n2
print(n3)

[1, 2, 3, 4, 5, 6]

## Sort the list in the descending order
```
import random
numbers = random.sample(range(1,100), 10)
print (numbers)
```

### complete your code here to sort the list in the descending order

In [13]:
import random
numbers = random.sample(range(1,100), 10)
print("Original list: ")
print (numbers)
numbers.sort(reverse=True)
print("List in descending order: ")
print(numbers)

Original list:
[62, 24, 40, 51, 10, 98, 95, 33, 79, 11]
List in descending order:
[98, 95, 79, 62, 51, 40, 33, 24, 11, 10]

## Figoure out the difference between the following statements
```
numbers1 = [1,2,3,4,5,6,7,8,9,10]
numbers2 = numbers1
numbers3 = number1[:]
numbers4 = number1.copy()
```

### complete your code here to test the above statements
### Make some changes to the list numbers1 and check the output of numbers2, numbers3, and numbers4
### Elaborate the reason why the output is as such.

In [15]:
numbers1 = [1,2,3,4,5,6,7,8,9,10]
numbers2 = numbers1
numbers3 = numbers1[:]
numbers4 = numbers1.copy()
print(numbers1)
print(numbers2)
print(numbers3)
print(numbers4)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

The output all contains the elements that are initialized in numbers1.
numbers2 directly equals to numbers1. numbers3 prints all the arrays of numbers1. Lastly, numbers4 copies the numbers1 array and stores it as its own.

<mark> Save your file by pressing "Ctrl+S" or "git commit -m "your message"" </mark>

***

## <p style="background-color: grey; color: white "> ◼️  List </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 2. Understanding the "Immutable Data Type" </p>

# Object Identity
- this specific memory address is what you’ll know as the object’s identity.
- This identity is a unique identifier that distinguishes one object from others.
- You can use the id() function to find out the identity of an object.

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #2.0 </p>

### Even you use the same value, the identity of the object is different.
### Because the integer is an immutable data type.

#### Run the following code segment and figure out the identity of the object

In [16]:
num: int = 10

id(num)

10751144

In [17]:
num = 20    # The identity of the object is different even if you use the same variable
id(num)

10751464

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #2.1 </p>

### For the list data type, the identity of the object is the same.
### Because the list is a mutable data type.

#### Run the following code segment and figure out the identity of the list numbers1 and numbers2
#### Elaborate the reason why the identity of the list is the same.

In [18]:
numbers1 = [1,2,3]
numbers2 = numbers1

print (id(numbers1), id(numbers2))
# The identity of the object is the same.

138907918448000 138907918448000

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #2.2 </p>

### In function call, the identities of the list are the same.  
### Because the list is a mutable data type.
```
def myfunction(numbers):
    numbers[0] = 100

numbers = [1,2,3]
myfunction(numbers)
print (numbers)
```
### The identity of the list is the same.

Make the code segment to show the identity of the list is the same.

- Elaborate the reason why the identity of the list is the same.

In [19]:
def myfunction(numbers):
    numbers[0] = 100
    print (id(numbers))

numbers = [1,2,3]
myfunction(numbers)
print (numbers)
print (id(numbers)) #prints the id of the object regardless of the contents inside. That means that the identity for this variable is the same.

138908338008832
[100, 2, 3]
138908338008832

<mark> Save your file by pressing "Ctrl+S" or "git commit -m "your message"" </mark>

***

## <p style="background-color: grey; color: white "> ◼️  List </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 3. Handing the list index out of range error </p>

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #3.1 </p>

## [1] Figure out the index error situation

### 1) Error or Not ?

```
numbers = [1,2,3]
numbers[3] = 100
```

### 2) Error or Not ?
```
print (numbers[:10])
```

In [21]:
numbers = [1,2,3]
numbers[3] = 100 #this is out of range because the array starts at 0,1, and 2; containing three elements.
                 #In order for it to work, numbers[3] would need to be changed to numbers[2].
print (numbers)

[1, 2, 100]

In [ ]:
numbers = [1,2,3]
# print (numbers[3])

print (numbers[1:10])

[2, 3]

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #3.2 </p>

## [2] Handling the index error situation with the try-except statement

### Understanding the try-except statement

``` Basic Syntax of the try-except statement
try:
    # Code block where exception might occur
    # Your code here
except ExceptionType as e:
    # Code block to execute if an exception occurs
    # Your code here
else:
    # Code block to execute if no exception occurs
    # Your code here
```

#### Example 1

In [22]:
#Example
numbers = [1,2,3]
try:
    print (numbers[3])
except Exception as e:
    print (e)

list index out of range

#### Example 2

In [23]:
# Example 2
numbers = [1,2,3]
try:
    print (numbers[10])
except IndexError:
    print ('IndexError: list index out of range')
else:
    print ('No error')

IndexError: list index out of range

## Main Adavatage of the try-except statement

#### Die or Alive

- In error situation, the program is not terminated.
- The program can continue to run.

## Error Keywords
[Python Official Document for Errores and exception](https://docs.python.org/3/tutorial/errors.html)
```
Types of Exceptions
Python has several built-in exception types. Some common ones include:
- SyntaxError: Raised when there's a syntax error in the code.
- NameError: Raised when a variable is not found in the local or global scope.
- TypeError: Raised when an operation is performed on an inappropriate type.
- ValueError: Raised when a function receives an argument of the correct type but an inappropriate value.
- ZeroDivisionError: Raised when division or modulo by zero is performed.
```

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #3.3 </p>

### Make the code segment to handle the index error situation with the try-except statement
- There is 100 elements in the list numbers
- A user will pick an index of the element in the list
- Your program will print out the element in the list at the picked index
- If the index is out of range, the program will print out the error message "IndexError: list index out of range". Use the try-except statement to handle the error.
- If the index is valid, the program will print out the element in the list at the picked index

In [31]:
import random

numbers = [random.randint(1,100) for _ in range(100)]
print (numbers)
try:
    index = int(input("Enter an index: "))
    print (numbers[index])
    print ("no error")
except IndexError:
    print("Index error: input out of range.")

[21, 24, 55, 38, 19, 73, 78, 55, 58, 65, 38, 17, 82, 87, 14, 47, 65, 2, 68, 83, 37, 93, 89, 28, 7, 5, 21, 86, 13, 44, 83, 33, 96, 53, 46, 24, 71, 64, 57, 33, 73, 82, 35, 44, 2, 7, 54, 65, 13, 18, 47, 82, 15, 6, 48, 48, 17, 34, 12, 38, 9, 44, 91, 20, 97, 72, 76, 24, 17, 89, 9, 10, 74, 54, 77, 79, 64, 14, 2, 41, 24, 82, 36, 96, 25, 85, 28, 60, 56, 37, 27, 61, 43, 92, 18, 3, 85, 37, 13, 4]
Enter an index: 24
7
no error

<mark> Save your file by pressing "Ctrl+S" or "git commit -m "your message"" </mark>

***

## <p style="background-color: grey; color: white "> ◼️  List </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 4. List of List

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #4.1 </p>

## There are students records in the list "students".
```
- The Student record consists of the student name, age, and the list of scores in Math, Science, and English
- Make a function to print out the student record in the following format
-- No return value. Use the same list of students. Do not create a new list.
- Name: <student name> - Age: <student age> - Scores: <list of scores> - Total Score: <total score> - Average Score: <average score>
- The function will take the list of students as an input and print out the student record for each student in the list

students = [
    ["John", 20, [80, 85, 90]],
    ["Jane", 21, [82, 86, 89]],
    ["Doe", 22, [84, 88, 92]]
]
```

In [35]:
def print_student_record(students):
    ###################################################
    # code here
    # Name: John - Age: 20 - Scores: [80, 85, 90] - Total Score: 255 - Average Score: 85.0
    # Name: Jane - Age: 21 - Scores: [82, 86, 89] - Total Score: 257 - Average Score: 85.67
    # ...
    ###################################################
    print ("**********************************************************************")
    for student in students[:3]:
        print (f"Name: {student[0]} - Age: {student[1]} - Scores: {student[2]} - Total Score: {sum(student[2])} - Average Score: {sum(student[2])/len(student[2])}")



students = [
    ["John", 20, [80, 85, 90]],
    ["Jane", 21, [82, 86, 89]],
    ["Doe", 22, [84, 88, 92]],
    ['Kim', 23, [85, 89, 91]],
    ['Lee', 24, [86, 90, 93]],
    ['Alex', 25, [87, 91, 94]],
    ['Kyle', 26, [88, 92, 95]],
    ['Jenny', 27, [89, 93, 96]],
    ['Jake', 28, [90, 94, 97]],
    ['Jessica', 29, [91, 95, 98]],
    ['Josh', 30, [92, 96, 99]],
    ['Jill', 31, [93, 97, 100]] ]

print_student_record(students)

**********************************************************************
Name: John - Age: 20 - Scores: [80, 85, 90] - Total Score: 255 - Average Score: 85.0
Name: Jane - Age: 21 - Scores: [82, 86, 89] - Total Score: 257 - Average Score: 85.66666666666667
Name: Doe - Age: 22 - Scores: [84, 88, 92] - Total Score: 264 - Average Score: 88.0

## Make the function "sort_students" to sort the students by the the following criteria

- Key = 1: Sort the students by the total score
- Key = 2: Sort the students by the age
- Key = 3: Sort the students by the name
- Ascending = True: Sort in ascending order
- Ascending = False: Sort in descending order
```
def sort_students(students, key, ascending):
    ###################################################
    # code here
    ###################################################

```

In [36]:
def sort_students(students, key, ascending):
    students.sort(key=lambda x: sum(x[2]) if key == 1 else x[1] if key == 2 else x[0], reverse=ascending)
    print_student_record(students)




print_student_record(students)
sort_students(students, 1, True)
print_student_record(students)
sort_students(students, 2, False)
print_student_record(students)
sort_students(students, 3, True)
print_student_record(students)

**********************************************************************
Name: John - Age: 20 - Scores: [80, 85, 90] - Total Score: 255 - Average Score: 85.0
Name: Jane - Age: 21 - Scores: [82, 86, 89] - Total Score: 257 - Average Score: 85.66666666666667
Name: Doe - Age: 22 - Scores: [84, 88, 92] - Total Score: 264 - Average Score: 88.0
**********************************************************************
Name: Jill - Age: 31 - Scores: [93, 97, 100] - Total Score: 290 - Average Score: 96.66666666666667
Name: Josh - Age: 30 - Scores: [92, 96, 99] - Total Score: 287 - Average Score: 95.66666666666667
Name: Jessica - Age: 29 - Scores: [91, 95, 98] - Total Score: 284 - Average Score: 94.66666666666667
**********************************************************************
Name: Jill - Age: 31 - Scores: [93, 97, 100] - Total Score: 290 - Average Score: 96.66666666666667
Name: Josh - Age: 30 - Scores: [92, 96, 99] - Total Score: 287 - Average Score: 95.66666666666667
Name: Jessica - Age: 29 - Scores: [91, 95, 98] - Total Score: 284 - Average Score: 94.66666666666667
**********************************************************************
Name: John - Age: 20 - Scores: [80, 85, 90] - Total Score: 255 - Average Score: 85.0
Name: Jane - Age: 21 - Scores: [82, 86, 89] - Total Score: 257 - Average Score: 85.66666666666667
Name: Doe - Age: 22 - Scores: [84, 88, 92] - Total Score: 264 - Average Score: 88.0
**********************************************************************
Name: John - Age: 20 - Scores: [80, 85, 90] - Total Score: 255 - Average Score: 85.0
Name: Jane - Age: 21 - Scores: [82, 86, 89] - Total Score: 257 - Average Score: 85.66666666666667
Name: Doe - Age: 22 - Scores: [84, 88, 92] - Total Score: 264 - Average Score: 88.0
**********************************************************************
Name: Lee - Age: 24 - Scores: [86, 90, 93] - Total Score: 269 - Average Score: 89.66666666666667
Name: Kyle - Age: 26 - Scores: [88, 92, 95] - Total Score: 275 - Average Score: 91.66666666666667
Name: Kim - Age: 23 - Scores: [85, 89, 91] - Total Score: 265 - Average Score: 88.33333333333333
**********************************************************************
Name: Lee - Age: 24 - Scores: [86, 90, 93] - Total Score: 269 - Average Score: 89.66666666666667
Name: Kyle - Age: 26 - Scores: [88, 92, 95] - Total Score: 275 - Average Score: 91.66666666666667
Name: Kim - Age: 23 - Scores: [85, 89, 91] - Total Score: 265 - Average Score: 88.33333333333333

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #4.2 </p>

## Make the function "reconstruct_list(rows, cols)" that reconstructs the list of integers in the following way
#### Return value: new list of list of integers

- numbers = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
- reconstruct_list(rows, cols) will reform the list of list of integers with the number of rows and columns
- For example, if rows = 4 and cols = 6, the function will return the following list of list of integers
- numbers = [ [1, 2, 3, 4, 5, 6], [7, 8, 9, 10, 11, 12], [13, 14, 15, 16, 17, 18], [19, 20, 21, 22, 23, 24] ]
- For example if rows = 2 and cols = 12,
- numbers = [ [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24] ]
- For example if rows = 8 and cols = 3,
- numbers = [ [1, 2, 3], [4, 5, 6], [7, 8, 9], [10, 11, 12], [13, 14, 15], [16, 17, 18], [19, 20, 21], [22, 23, 24] ]
```
def reconstruct_list(numbers, rows, cols):
    ###################################################
    # code here
    ###################################################

```

In [39]:
def reconstruct_list(numbers, rows, cols):
    new_numbers = []
    for i in range(0, len(numbers), cols):
        new_numbers.append(numbers[i:i+cols])
    return new_numbers

numbers = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]
new_numbers = reconstruct_list(numbers, 4, 6)
print (new_numbers)

[[1, 2, 3, 4, 5, 6], [7, 8, 9, 10, 11, 12], [13, 14, 15, 16, 17, 18], [19, 20, 21, 22, 23, 24]]

<mark> Save your file by pressing "Ctrl+S" or "git commit -m "your message"" </mark>

***

## <p style="background-color: grey; color: white "> ◼️  List </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 5. any() and all()

Use the any() and all() functions to check the elements in the list

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #5.1 </p>

#### Run the following code segment and figure out the output of the code segment

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

any( x % 2 == 0 for x in numbers)

In [ ]:
all ( x > 0 for x in numbers)

Use the any() and all() functions to check the elements in the list

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #5.2</p>

#### Make the function isSubset(numbers1, numbers2) to check if the numbers1 is a subset of numbers2
- Return True if the numbers1 is a subset of numbers2
- Return False otherwise
- Use the any() and all() functions to check the elements in the list

In [ ]:
def isSubset(numbers1, numbers2):
    ###################################################
    # code here
    ###################################################


numbers1 = [1, 2, 3]
numbers2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print (isSubset(numbers1, numbers2))

<mark> Save your file by pressing "Ctrl+S" or "git commit -m "your message"" </mark>