<style>
	h1 {
	--	background-color: grey;
		color: yellow
		border: 3px solid grey

	}
	p {
		background-color: grey;
		color: white
		border: 3px solid grey

	}
</style>
<h1> Chapter 7 List: Part 2</h1>

<p style="margin-left:40px"> 7.6 zip() </p>

<p style="margin-left:40px"> 7.7 map()</p>

<p style="margin-left:40px"> 7.8 filter()</p>

<p style="margin-left:40px"> 7.9 reduce()</p>

<p style="margin-left:40px"> 7.10 Programming Exercise </p>

***

## <p style="background-color: grey; color: white "> ◼️  List </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 6. zip() </p>
![zip](https://github.com/AVC-CS/PythonCh07/blob/main/png/zip.png?raw=1)

<style>
	h3{
		background-color: grey
		color: white
	}
</style>

<h1> Understanding the zip() </h1>

- Run all the following code cells and check out the result of code segments

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #6.1 </p>

#### Run all the cells and figure out the Mutal Data Type

In [1]:
n1 = [1, 2, 3]
n2 = [4, 5, 6]
n3 = [7, 8, 9]

print(list(zip(n1, n2, n3)))

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [2]:
numbers = [ [1, 2, 3], [4, 5, 6], [7, 8, 9]]
print (*numbers)

[1, 2, 3] [4, 5, 6] [7, 8, 9]

In [3]:
zip_object = zip([1,2,3], [4,5,6], [7,8,9])
new_list = list(zip_object)
new_list

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [4]:
numbers = [ [1, 2, 3], [4, 5, 6], [7, 8, 9]]

new_numbers = list(zip(*numbers))
print(new_numbers)

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #6.2 </p>

#### There are students records in the Students list.
#### Each student record is a list that contains the student name, age, and [math score, science score, english score].
```
students = [
    ["John", 23, [80, 90, 85]],
    ["Jane", 22, [85, 95, 90]] ]
```
#### Make a function that returns the list of scores by subject, for example,
```
scores_by_subject = [
    [math_score1, math_score2, math_score3],
    [science_score1, science_score2, science_score3],
    [english_score1, english_score2, english_score3]
]
for example,
    [[80, 85], [90, 95], [85, 90]]
```
#### return value: the list of list of scores by subject

In [31]:
def get_scores_by_subject(students):
    scores_by_subject = list(zip(*[student[2] for student in students]))
    return scores_by_subject



students = [
    ["John", 23, [80, 90, 85]],
    ["Jane", 22, [85, 95, 90]],
    ["Doe", 24, [75, 80, 85]],
    ["Kim", 25, [90, 95, 90]],
    ["Jill", 26, [80, 85, 80]],
    ["Elizabeth", 27, [70, 75, 70]],
    ["Kyle", 28, [60, 65, 60]]
]

scores_by_subject = get_scores_by_subject(students)
print(scores_by_subject)

[(80, 85, 75, 90, 80, 70, 60), (90, 95, 80, 95, 85, 75, 65), (85, 90, 85, 90, 80, 70, 60)]

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #6.3 </p>

### Use zip() and list() to make the function that reconstruct the list of list which is the transpose of the list of list of integer values.
#### Make the function that reconstruct the list of list which is the transpose of the list of list of integer values.
#### For example,
```
input: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
output: [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

def transpose(matrix):
    ########################
    # Write your code here #
    ########################
    return new_list

numbers = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
new_numbers = transpose(numbers)
print(new_numbers)
````

In [32]:
# Hint: Use the zip(*)
num = [(1,2,3), (4,5,6), (7,8,9)]
new_num = list(zip(*num))
print(new_num)

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

In [33]:
def transpose(matrix):
    new_list = list(zip(*matrix))
    return new_list


numbers = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
new_numbers = transpose(numbers)
print(new_numbers)

[(1, 4, 7), (2, 5, 8), (3, 6, 9)]

#### <p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem #6.4 zip(*listvalue)</p>

#### Write a function that takes a list of strings as input and returns a new list where each element is formed by combining the characters at the same position from all input strings. If a string is shorter than others, it should be stopped at the end of the shortest string

#### Use the zip(*)
```
Input:
A list of strings, where each string can have a different length.
Output:
A list of strings, where each string is formed by combining characters from the input strings at the same position.
---
Example:
list of string values list_str: ['Python', 'C++', 'Java']
The return value should be ['PCJ', 'y+a', 't+v'] because the shortest string is 'C++'

````

In [ ]:
# Hint: Use the zip(*)
str_list = ['Python', 'C++', 'Java']
new_list = zip(*str_list)
print(list(new_list))

[('P', 'C', 'J'), ('y', '+', 'a'), ('t', '+', 'v')]

In [34]:
def combine_characters(list_str):
    new_list = list(zip(*list_str))
    return new_list


list_str = ['Python', 'C++', 'Java']
new_list = combine_characters(list_str)
print(new_list)

[('P', 'C', 'J'), ('y', '+', 'a'), ('t', '+', 'v')]

<mark> Save your file by pressing "Ctrl+S" or "git commit -am "your message"" </mark>

***

## <p style="background-color: grey; color: white "> ◼️  List </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 7. map() </p>
![map](https://github.com/AVC-CS/PythonCh07/blob/main/png/Map.png?raw=1)

## Basic Syntax
```
map(function, iterable)
```

The map() function in Python applies a given function to every item of an iterable (like a list) and returns a map object (which is an iterator). It is useful for transforming data using a function without the need for explicit loops.

## Example 1: Square each element in the list

```
def square(x):
    return x ** 2

numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(square, numbers))
print(squared_numbers)
```

In [35]:
def square(x):
    return x ** 2

numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(square, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

## Example 2: Convert a list of strings to Uppercase

```
strval = ['python', 'c++', 'java']
new_list = list(map(str.upper, strval))
print(new_list)
```

## Example 3: Convert a list of integers to a list of strings

```
numbers = [1, 2, 3, 4, 5]
new_list = list(map(str, numbers))
print(new_list)
```

In [43]:
strval = ['python', 'c++', 'java']
new_list = list(map(str.upper, strval))
print(new_list)

numbers = [1, 2, 3, 4, 5]
new_list = list(map(str, numbers))
print(new_list)

['PYTHON', 'C++', 'JAVA']
['1', '2', '3', '4', '5']

<p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem 7.1  map()</p>

#### Find the Length of Each String in a List
#### Definition: Use the map() function to create a list of the lengths of each string in a list of words.

#### Example:
```
words = ['apple', 'banana', 'cherry']
# Your map() usage should return [5, 6, 6]
```

In [44]:
def find_length(words):
    new_list = list(map(len, words))
    return new_list

words = ['apple', 'banana', 'cherry']
new_list = find_length(words)
print(new_list)

[5, 6, 6]

<p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem 7.2  map()</p>

#### Multiply Corresponding Elements in Two Lists
#### Definition: Use the map() function to multiply corresponding elements in two lists.

#### Example:
```
list1 = [1, 2, 3]
list2 = [4, 5, 6]
# Your functionshould return [4, 10, 18]

def multiply_elements(list1, list2):
    #################################
    # Write your code here #
    #################################
    return new_list
```

In [49]:
# Hint: You can pass multiple iterables to map() by using a lambda function that takes two arguments.
list1 = [1, 2, 3]
list2 = [4, 5, 6]
new_list = list(map(lambda x,y: print(x,y), list1, list2))
print(new_list)

1 4
2 5
3 6
[None, None, None]

In [54]:
def multiply_elements(list1, list2):
    new_list = list(map(lambda x,y: print(x*y), list1, list2))

    return new_list

list1 = [1, 2, 3]
list2 = [4, 5, 6]
new_list = multiply_elements(list1, list2)
# Return value should be [4, 10, 18]

4
10
18

<p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem 7.3  map()</p>

#### Round Each Number in a List to Two Decimal Places
#### Definition: Write a program that rounds each floating-point number in a list to two decimal places using map().

#### Example:
```
numbers = [3.14159, 2.71828, 1.61803, 0.57721]
# Your function should return [3.14, 2.72, 1.62, 0.58]

def round_numbers(numbers):
    #################################
    # Write your code here #
    #################################
```

In [ ]:
n = 1.23456
strval = f'{n:.2f}'
newval = float(strval)
newval

1.23

In [63]:
def round_numbers(numbers):
    numbers = list(map(lambda x: f'{x:.2f}', numbers))
    return numbers


numbers = [3.14159, 2.71828, 1.61803, 0.57721]
round_numbers(numbers)
# Return value should be [3.14, 2.72, 1.62, 0.58]

['3.14', '2.72', '1.62', '0.58']

***

## <p style="background-color: grey; color: white "> ◼️  List </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 8. filter() </p>
![filter](https://github.com/AVC-CS/PythonCh07/blob/main/png/Filter.png?raw=1)

#### The filter() function in Python is used to filter elements from an iterable (like a list) based on a condition. It applies a given function to each item and includes only the items for which the function returns True.

#### Syntax:
```
filter(function, iterable)
```

#### function: A function that defines the condition or test for filtering the elements.
#### iterable: An iterable (e.g., a list) from which you want to filter elements.
#### Like map(), the filter() function returns an iterator, so it’s often converted into a list using list().

#### Example 1: Filter out even numbers from a list
```
def is_even(n):
    return n % 2 == 0

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
filtered_numbers = list(filter(is_even, numbers))
print(filtered_numbers)
```

<p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem 8.1  filter()</p>

#### Filter Out Words Starting with a Vowel
#### Definition: Write a program that filters out all words starting with a vowel (a, e, i, o, u) using filter().
```
Example:

words = ['apple', 'banana', 'orange', 'grape', 'umbrella']
# Your filter() usage should return ['banana', 'grape']
Hint: Use a lambda function to check the first letter of each word.

def filter_words(words):
    #################################
    # Write your code here #
    #################################
    return new_list

words = ['apple', 'banana', 'orange', 'grape', 'umbrella']
# Complete the code
# Return value should be ['banana', 'grape']
```

In [65]:
def filter_words(words):
    new_words = list(filter(lambda x: x[0] not in 'aeiouAEIOU', words))
    return new_words
words = ['apple', 'banana', 'orange', 'grape', 'umbrella']
new_words = filter_words(words)
print(new_words)

# Return value should be ['banana', 'grape']

['banana', 'grape']

<p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem 8.2  filter() : Filter String values</p>

#### Problem 8: Filter Elements from a List of Tuples
#### Definition: Given a list of tuples, filter out all tuples where the gap of two numbers is greater than 5

```
Example:

tuples = [(1, 10), (4, 69), (20, 15), (7, 8)]
# Your filter() usage should return [(20, 15), (7, 8)]

def filter_tuples(tuples):
    #################################
    # Write your code here #
    #################################
    return new_list

tuples = [(1, 3), (4, 6), (2, 5), (7, 8)]
new_list = filter_tuples(tuples)
print(new_list)
```

In [67]:
def filter_words(words):
    new_words = list(filter(lambda x: x[0] not in 'aeiouAEIOU', words))
    return new_words
words = ['apple', 'banana', 'orange', 'grape', 'umbrella']
new_words = filter_words(words)
print(new_words)

# Return value should be ['banana', 'grape']

['banana', 'grape']

<p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem 8.3  filter(): Prime Number</p>

#### Problem 8: Filter Elements from a List of inter values
#### Definition: Write a program that filters out all prime numbers from a list of integers using filter().

```
Example:

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Your filter() usage should return [2, 3, 5, 7]

def filter_tuples(numbers):
    #################################
    # Write your code here #
    #################################
    return new_list

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_list = filter_tuples(tuples)
print(new_list)
```

In [72]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
new_list = filter_tuples(numbers)
print(new_list)
def filter_tuples(numbers):
    new_list= list(filter(lambda x: all(x % i != 0 for i in range(2, x)), numbers))
    return new_list

# Return value should be [2, 3, 5, 7]

[1, 2, 3, 5, 7]

<p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem 8.4  filter(): Great than the right element in the list</p>

#### Problem 8.4 : Filter Elements from a List of inter values
#### Definition: Write a program that filters out all elements that are greater than the right element in the list.(Exclude the last element)
#### Use the filter() and zip() functions

```
Example:

numbers = [10, 5, 6, 15, 20, 25, 45, 30, 55, 50]
# Your filter() usage should return [10, 45, 55] becasue 10 > 5, 45 > 30, 55 > 50

def filter_gtRight(numbers):
    #################################
    # Write your code here #
    #################################
    return new_list

numbers = [10, 5, 6, 15, 20, 25, 45, 30, 55, 50]
new_list = filter_gtRight(numbers)
print(new_list)
```

In [73]:
numbers = [10, 5, 6, 15, 20, 25, 45, 30, 55, 50]

# Complete the code
def filter_gtRight(numbers):

    tuple_list = list(zip(numbers, numbers[1:]))
    new_list = [x[0] for x in list(filter(lambda x: x[0] > x[1], tuple_list))]
    return new_list

numbers = [10, 5, 6, 15, 20, 25, 45, 30, 55, 50]
new_list = filter_gtRight(numbers)
print(new_list)
# Return value should be [10, 45, 55]

[10, 45, 55]

***

## <p style="background-color: grey; color: white "> ◼️  List </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 9. Reduce() </p>

![reduce](https://github.com/AVC-CS/PythonCh07/blob/main/png/Reduce.png?raw=1)

#### The reduce() function in Python is used to apply a function cumulatively to the items of an iterable, from left to right, so as to reduce the iterable to a single output value. It is useful for performing a cumulative operation on a list of elements.

#### Syntax:
```
reduce(function, iterable)
```

#### function: A function that takes two arguments and returns a single value.
#### iterable: An iterable (e.g., a list) on which the cumulative operation is performed.

<mark>
To use reduce(), you need to import it from the functools module.
</mark>

```
    from functools import reduce
```

![Get Sum of the list by using reduce()](https://github.com/AVC-CS/PythonCh07/blob/main/png/Reduce2.png?raw=1)

In [ ]:
# Example 1: Sum of all elements in a list
from functools import reduce

numbers = [1, 2, 3, 4, 5]
total = reduce(lambda x, y: x + y, numbers)
print(total)

# Example 2: Product of all elements in a list
numbers = [1, 2, 3, 4, 5]
total = reduce(lambda x, y: x * y, numbers)
print(total)

15
120

<p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem 9.1  reduce():  average</p>

#### Write a function called getAVG(numbers) that takes a list of integer values and computes the average of the list.
#### Use the reduce() function and create your lambda function to compute the average
```
numbers = [1, 2, 3, 4, 5]
# Your function should return 3 because (1+2+3+4+5)/5 = 3

def getAVG(numbers):
    #################################
    # Write your code here #
    #################################
    return average

In [ ]:


def getAVG(numbers):
    #################################
    # Write your code here #
    #################################
    return average

numbers = [1, 2, 3, 4, 5]
average = getAVG(numbers)
print(average)
# Return value should be 3

3.0

<p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem 9.2  reduce()</p>

#### Write a function called getMaxSum(numbers) that takes a list of lists and computes the sum of the maximum elements from each sublist in numbers."
#### Requirement
#### Use map() and reduce( ) function and create your lambda function to compute the max element summation
```
numbers = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
# Your function should return 21 because 1+4+7 = 21

def getMaxSum(numbers):
    #################################
    # Write your code here #
    #################################
    return new_list
```

#### Hint: Use the map() and reduce() functions
```
maxlist = list(map(lambda x:max(x), numbers))
maxsum = reduce(lambda x,y:x+y, maxlist)
print(maxsum)
```

In [ ]:
####### Complete the code
def getMaxSum(numbers):
    #################################
    # Write your code here #
    #################################
    return maxsum


numbers = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
maxsum = getMaxSum(numbers)
print(maxsum)
# Return value should be 18

18

***

## <p style="background-color: grey; color: white "> ◼️  List </p>
# <p style="font-family: Arial; font-size:1.4em;color:red;"> 10. Programming Exercises </p>

<p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem 10.1</p>

#### 1. Circular rotation of elements (both left and right)
#### For example,
```
Input:
numbers = [1, 2, 3, 4, 5]
k = 3

Output:
[4, 5, 1, 2, 3]

k = -4
Output:
[2, 3, 4, 5, 1]

def circular_rotation(numbers, k):
    #################################
    # Write your code here #
    #################################
    return new_list
```

In [ ]:
# Complete the code

<p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem 10.2</p>

#### 2. Finding the continuous longest increasing subsequence
#### Example 1,
```
Input:
numbers = [10, 9, 2, 5, 3, 7, 101, 18]
Output:
[3, 7, 101]

```
#### Example 2,
```
Input:
numbers = [0, 1, 0, 3, 2, 3]
Output:
[0, 3]  Because [0,3] and [2,3] are the same length. Choose the first occurence.

def find_longest_increasing_subsequence(numbers):
    #################################
    # Write your code here #
    #################################
    return new_list
```

In [ ]:
# complete the code

<p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem 10.3</p>

#### 3. Merging two sorted lists in-place without using extra space
#### Example 1,
```
Input:
    numbers1 = [1, 3, 5, 7, 9]
    numbers2 = [2, 4, 6, 8, 10]
Output:
    new_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Input:
    numbers1 = [1,2,3,4,5]
    numbers2 = [6,7,8,9,10]
Output:
    new_list = [1,2,3,4,5,6,7,8,9,10]

def merge_sorted_lists(numbers1, numbers2):
    #################################
    # Write your code here #
    #################################
    return new_list

```

In [ ]:
# complete the code

<p style="font-family: Arial; font-size:1.4em; background-color: yellow; color:black;"> Problem 10.4</p>

#### 4. map() and zip(): Make the function that returns the list of list of years, list of months, and list of days
#### Example 1,
```
Input:
    dates = ['2020-12-01', '2021-03-31', '2022-09-13', '2023-04-03']
Output:
    new_dates_list = [ [2020, 2021, 2022, 2023], [3, 4, 9, 12], [1, 3, 13, 31] ]    # The sublist must be sorted
    ## Hint: Use the map() and zip() functions
    ## Requirement: The sublist must be sorted
```

In [ ]:

def split_dates(dates):
    #################################
    # Write your code here #
    #################################

    return new_list

dates = ['2020-12-01', '2021-03-31', '2022-09-13', '2023-04-03']
new_dates_list = split_dates(dates)
print(new_dates_list)
# Return value should be [[2020, 2021, 2022, 2023], [3, 4, 9, 12], [1, 3, 13, 31]]
# Notice that the sublist is the sorted list, not the tuple

[[2020, 2021, 2022, 2023], [3, 4, 9, 12], [1, 3, 13, 31]]

<p style="font-family: Arial; font-size:1.5em; background-color: yellow; color:black;"> Problem 10.5</p>

#### 5. map() and sorted(): Make the function that returns the list of list that contains the ID, Name, and Phone Number.
#### The sublist has the unordered list of ID, Name, and Phone Number.
### For example,
```
Input:
    students_list = [[9000000001, "Jane Doe", "555-555-5678"], ["Macy Nan", 9000000002, "966-555-5678"], ["888-555-1234", 9000000003, "Cynthia Purdue"]]
Output:
    students_by_field = [ [9000000001, 9000000002, 9000000003], ["Cynthia Perdue", "Jane Doe", "Macy Nan"], ["555-555-1234", "555-555-5678", "966-555-5678"] ]
    ## Hint: Use the map() and zip() functions
    ## Requirement: The sublist must be sorted
```

In [ ]:
import re
def split_students(students_list):
    #################################
    # Write your code here #
    #################################
    return new_list

students_list = [[9000000001, "Jane Doe", "555-555-5678"], ["Macy Nan", 9000000002, "966-555-5678"], ["888-555-1234", 9000000003, "Cynthia Perdue"]]
students_by_field = split_students(students_list)
print(students_by_field)